<link rel="stylesheet" type="text/css" href="~/Content/login/login-css.css?v=1">
<script src="/Content/login/login-js.js?v=1"></script>

<div class="login-page">
    <div class="form">
        <h3>Kullanıcı Giriş</h3>
        <form class="login-form" action="~/Home/Login" method="post">
            <input type="text" name="username" placeholder="kullanıcı adı" />
            <input type="password" name="password" placeholder="şifre" />
            <button type="submit">Giriş</button>
        </form>
    </div>
</div>
<div>
    @RenderBody()
</div>
