
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


@*<div>
    <img src="@Url.Action("CharterPie")" alt="Chart" />
</div>*@
    <div>
        <img src="@Url.Action("CharterDoughnut")" alt="Chart" />

        <img src="@Url.Action("CharterLine")" alt="Chart" />
    </div>


